.contact-initials {
  color: #9E9E9E;
  font-weight: 400;
  font-size: 20px;
}

.all-contacts-list {
  padding-top: 12px;
}

.all-contacts-list .list__item__center {
  padding-left: 16px;
}

.all-contacts-list .list__item__thumbnail {
  margin-right: 16px;
}

ons-fab {
  z-index: 1000;
}

.contact-block {
  background-color: white;
  margin: 12px 8px 12px 8px;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 2px;
  background-image: none;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.33);
}

.contact-list-background-color {
  background-color: #2196F3;
}

.contact-list-background-color:active {
  background-color: #2196F3;
}

.contact-list-background-color ons-toolbar-button:active {
  background-color: #64B5F6;
}

.contact-list-background-color ons-back-button:active {
  background-color: #64B5F6;
}

.fav-list {
  padding: 0 15px 0 15px;
}

.header-text {
  font-weight: 700;
  font-size: 22px;
  color: #2196F3;
}

.list__item__icon, .details-color {
  color: #8BC34A;
}

.details-background-color {
  background-color: #8BC34A;
}

.details-background-color ons-toolbar-button:active {
  background-color: #AED581;
}

.details-background-color ons-back-button:active {
  background-color: #AED581;
}

.input_list > ons-list-item ons-icon {
  font-size: 24px;
  color: #616161;
}

.input_list .list__item__left {
  display: block;
}

.picture {
  width: 60px;
  height: 60px;
  background-color: #BDBDBD;
  display: table;
}

.picture > ons-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fafafa !important;
  font-size: 36px !important;
}

.change-button {
  background-color: #fafafa;
  color: #1f1f21;
  font-weight: 600;
  margin-left: 16px;
  text-align: center;
  position: absolute;
}

.change-button:active {
  background-color: #fafafa;
}

ons-material-input {
  width: 90%;
}

.text-input--material:focus {
  background-image: -webkit-linear-gradient(#2196F3, #2196F3), -webkit-linear-gradient(bottom, transparent 1px, #afafaf  1px);
  background-image: linear-gradient(#2196F3, #2196F3), linear-gradient(to top, transparent 1px, #afafaf  1px);
}
